.SearchBarContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MuiGrid-root div {
  margin: auto;
  display: flex;
  justify-content: center;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 40px;
  font-weight: bold;
}
